
/*******************************************************************************
*****            Other stuff that hasn't been dealt with yet...            *****
*******************************************************************************/

table#major_events, table#symptoms_questions,
table#chronic, table#table_sugar, table#table_chol, table#table_blood, table#phq_scoring_guide,
table#health, table#c_stress, table#bio_mark, table#table_stressors, table#table_pp_steps,
table#table_pp_area, table#life_questions, table#gad_questions, table#phq_questions,
table#cd_questions, table#dast_questions, table#duke_questions, table#duke_physical_questions,
table#duke_week_questions, table#duke_social_questions, table#duke_living_questions,
table#psc_questions, table#psc_fu_questions, table#audit_questions, table#cage_questions,
table#crafft_questions, table#self_questions, table#self_questions_smoking {
	width: 800px;
}

table#table_physical{
	width: 400px;
}

#symptom_section {
	width: 800px;
}

td.date_label{
	width: 100px;
}

td.gad_scale{
	width: 50px;
}

td.c_ed{
	width: 20px;
}


td.crafft_scale{
	width: 100px;
}

td.clinic_select
{
	width: 100px;
}

td.cd_scale{
	width: 75px;
}

td.psc_scale{
	width: 100px;
}

td.kmhb_scale{
	width: 100px;
}

td.life_scale{
	width: 100px;
}

td.phq_scale{
	width: 100px;
}

td.pcl_scale{
	width: 75px;
}


td.audit_scale{
	width: 75px;
}

td.duke_scale{
	width: 75px;
}

td.cage_scale{
	width: 100px;
}

td.crafft_scale{
	width: 100px;
}

.tdtopic{
	background-color: #F2E0F7;
}


.t_name{
	width: 75px;
}
.t_input{
	width: 100px;
}


td.bo{
	width: 50px;
        text-align: right;

}
td.interfere_input{
	width: 75px;
}

table#table_pp_steps_subtable {
	width: 300px;
}

td.c_liv{
	width: 100px;
  text-align: right;
}

td.dast_scale{
	width: 100px;
}


.st{
	text-align:left;
	width: 100px;
}
.liv{
	text-align:left;

}
.st{
	text-align:center;
}
.sf{
	text-align:left;
	width: 100px;
}
.ms{
	text-align:left;
	width: 100px;
}
.ed{
	text-align: left;
}
.eth{
	text-align:left;
}
.stress{
	text-align:left;
}
.demo_input{
	width: 10px;
}
.stressor_input{
	width: 10px;
}
td.demo{
	width: 100px;
}
table#demo{
	width: 790px;
}
table#table_sex{
	width: 200px;
}
table#table_marital{
	width: 300px;
}
table#table_education{
	width: 790px;
}
table#table_ethnicity{
	width: 790px;
}
table#table_living{
	width: 790px;
}
table#table_program{
	width: 790px;
}
table#clinic_id{
	width: 500px;
}
table#table_tobacco{
	width: 790px;
}
#demo_data{
	width: 800px;
	border-style: solid;
}

#sex_div{
	width: 200px;
}

#marital_div{
	width: 200px;
}

#education_div{
	width: 600px;
}

#psc_fu_txt
{
	width: 95%;
}



#error_notice {
	color:red;
	font-size: 12pt;
	display:none;
}

.needsfilled {
	background:red;
	color:white;
}

@media all {
	.page-break {display: none}
}

@media print {
	.page-break {display: block; page-break-before: always;}
}


ul.class1
{
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}

.class1 A:link {float:center;width:6em;text-decoration:none;color:white;background-color:#9CADFB;padding:0.2em 0.6em;border-right:1px solid white;}
.class1 A:visited {text-decoration: none; color:white}
.class1 A:active {text-decoration: none}
.class1 A:hover {background-color:#9CFBDB;}

/* MENU */

#nav {
 background: #292929;
 float: left;
 margin: 0; padding: 0;
 border: 1px solid white;
 border-bottom: none;
 width: 800px;
 margin-bottom: 40px; /* Removed <br> from /include/menu.php */
}

#nav li a, #nav li {
 float: left;

}

#nav li {
 list-style: none;
 position: relative;
 width: 200px;

 z-index: 1; /* fix for scaled radio buttons displaying above menu dropdown */
}

#nav li a {
 padding: 1em 2em;
 text-decoration: none;
 color: white;
 background: #292929;
 background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
 background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(4%, #3c3c3c), to(#292929));
 border-right: 1px solid #3c3c3c;
 border-left: 1px solid #292929;
 border-bottom: 1px solid #232323;
 border-top: 1px solid #545454;

}

#nav li a:hover {
 background: #2a0d65;
 background: -moz-linear-gradient(top, #11032e, #2a0d65);
 background: -webkit-gradient(linear, left top, left bottom, from(#11032e), to(#2a0d65));

}


/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}

#nav li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;


}

#nav li:hover > ul {
 display: block;
}

#nav li ul li, #nav li ul li a {
 float: none;
}

#nav li ul li {
 _display: inline; /* for IE6 */
}

#nav li ul li a {
 display: block;
}

/* SUBSUB Menu */

#nav li ul li ul {
 display: none;

}

#nav li ul li:hover ul {
 left: 100%;
 top: 0;

}

input.date {
	width: 150px;
	color: #000;
}

.calendar-icon {
display: inline-block;
vertical-align: middle;
width: 32px;
height: 32px;
background: url(images/calendar.png);
}




/* Hypertension - MG 10/13/2016 */

/*
#hypertension_section, #hypertension_results, #pediatric_section, #pediatric_results{
	font-family: arial, helvetica;
	font-size: 120%;

}

#hypertension_section h3, #hypertension_results h3{
	text-align:center;
}

#hypertension_section table, #hypertension_results table, #pediatric_section table, #pediatric_results table {
    border-collapse: collapse;

}

#hypertension_section table, #pediatric_section table,
#hypertension_results table,  #hypertension_results td,
#pediatric_results table, #pediatric_results td {
    border: 1px solid black;
}

#hypertension_section th, td.hypertension_response, td.hypertension_scale, #hypertension_results td, td.pediatric_scale, #pediatric_results td{
    padding: 5px 10px 5px 10px;
    text-align: left;
	vertical-align: middle;


}

#hypertension_section input[type='radio'], #pediatric_section input[type='radio'], #pediatric_section input[type='checkbox'] {
    transform: scale(1.7);
}

#hypertension_section td.hypertension_question, #pediatric_section td.pediatric_question  {
	width: 60%;
	padding:0px;
}


#hypertension_questions3 td.hypertension_scale, .nowrap {
	white-space: nowrap;
}

#hypertension_section .hypertension_row, #hypertension_results td, #pediatric_section .pediatric_row, #pediatric_results td{

	background-color: #EFFBFB;
}

*/


/* Header Classes */
.top {
	height: 100px;
}
.logo {
	width: 100px;
	float: left;
}
.header {
	height: 12px;
	text-align: center;
	margin: auto;
}


/* Other Classes */
.confirmation {
	background-color: #F5A9A9;
}

/* Login Page Classes */
.login-header {
	float: none;
}
.login-form {
	text-align: center;
	margin: auto;
}
.login-error {
	text-align: center;
	margin: auto;
	color: red;
}


/* .radio_caption class is used with <label> tags wrapped around radio button inputs */
.radio_caption {
	color:gray;
	font-size:60%;
	line-height:60%;
	position:relative;
	top:-5px;
	white-space: nowrap;
}


.question_criteria {
	font-size: 120%;
	font-weight:bold;

}

/* Font stack adapted from http://www.cssfontstack.com/Tahoma set to Golden Mean proportion */
body{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
	color: #333;

	background-color: #dcdcdc;
	margin:auto;
	width:1040px;
	height: 100%;
}

.container {
	width: 800px;
	background-color: #FBFBFB;
	padding:0px 120px 0px 120px;
}

.footer {
	margin-top: 80px;
	height: 100px;
	width: 800px;

}

h1, h2 {
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
}
h3, h4, h5, th {
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
}

blockquote {
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
}
pre {
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 26px;
}

/* End font stack */

/*
input[type='radio'], input[type='checkbox']{
	transform:scale(1.6);
	margin:10px;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	transform:scale(1.6);
}

*/

/* -----------------------------------------------------------------   */

input,
select,
option {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26px;
    color: #333;
    /* Review other color options for inputs */

    margin-left: 10px;

}
/* special sizing for input type radio -- love special things */

input[type=radio],
input[type=checkbox] {
    min-height: initial;
    min-width: initial;
    transform: scale(1.65);

	margin-top: 10px;   /* replace with some vertical alignment to input-container to center all inputs?? */
}

input[type=radio] {
	margin-left:25px;
}

input[type=radio],
input[type=checkbox] {
	margin-right:10px;
}


input[type=submit],
input[type=button],
button {
    min-height: initial;
    min-width: initial;
    padding: 8px 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #eeeeee;

		font-size: 18px; /* Overwrite default font-size for inputs */
		margin:0px 15px 0px 15px;

    -webkit-border-radius: 10px;
    border-radius: 10px;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
	border-color: #bbbbbb;
    box-shadow: 2px 2px 4px rgba(105, 105, 105, 0.1);
}
input[type=submit]:focus,
input[type=button]:focus,
button:focus {
    border-color: #bbbbbb;
    background: aliceblue;
    box-shadow: 2px 2px 4px rgba(105, 105, 105, 0.1);
}

input[type=submit]:disabled,
input[type=button]:disabled,
button:disabled {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}


/* space for cursor away from input border */
input[type=text],
input[type=password],
input[type=date],
input[type=number],
select {
    padding-left: 10px;
		/* min-width: 150px; */
    min-height: 32px;
}


/* ------------------------------------------------------   */


input[type=reset] {
	display:none;
}


table{
	border-collapse:collapse;
	width:100%;
}

td{
	padding:10px;
}

hr{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #efefef;
}

.scoring, .write {
	margin-bottom:40px;
}
